html, body {
  margin: 0;
  min-height: 100vh;
}
  
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100deg, #3F5EFB, #713ae0, #9c48e6, #f15aaf);
  background-size: 300% 300%;
  animation: gradient 40s ease infinite;
}

.container{
  color: #fdf7ff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  height: 200px;  
  gap: 0;
  text-align: center;
}

.heart{
  margin: 0; 
  width: 170px;
  animation: float 10s ease-in-out infinite;
}

#timer{
  text-align: center;
  display: inline-flex;
  align-items: center; /* vertical alignment */
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 580;
  font-size: 90px;
  font-variant-numeric: tabular-nums;
}

.bottom-text{
  padding: 30px 10px 0 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 37px;
  font-weight: 380;
  animation: pulse 30s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0%   { transform: translateY(-1px); }
  50%  { transform: translateY(17px); }
  100% { transform: translateY(-1px); }
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}