html, body {
  margin: 0;
  min-height: 100vh;
}
  
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100deg, #3F5EFB, #713ae0, #9c48e6, #f15aaf);
  background-size: 300% 300%;
  animation: gradient 35s ease infinite;
}

.container{
  color: #fdf7ff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  height: 200px;  
  gap: 0;
}

.heart{
  margin: 0; 
  width: 170px;
  animation: float 10s ease-in-out infinite;
}

.timer{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 11rem;
  font-variant-numeric: tabular-nums;
}

.bottom-text{
  padding: 50px 0 0 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  font-weight: 350;
  animation: pulse 60s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0%   { transform: translateY(40px); }
  50%  { transform: translateY(65px); }
  100% { transform: translateY(40px); }
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }