html, body {
    margin: 0;
    min-height: 100vh;
}
  
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, #3F5EFB, #713ae0, #9c48e6, #f15aaf);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    height: 100vh;  
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }